@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media screen and (max-width: 767.98px) and (min-width: 576px) {

    .hero-ct {
        width: 85%;
        padding: 20px 0px;
    }

    .logo {
        width: 100px;

    }

    .btn {
        font-size: 12px;
        padding: 4px 13px;
    }

    .heading-ct {
        width: 65%;
    }

    .heading1 h1 {
        font-size: 44px;
        line-height: 125%;
        margin: 0px 0px 10px 0px;
    }

    .heading1 h3 {
        font-size: 16px;
        margin: 0px 0px 30px 0px;
    }

    .heading2 {
        gap: 8px;
    }

    .email {
        font-size: 12px;
        padding: 12px;
    }

    .getstarted {
        font-size: 16px;
        padding: 10px 18px;
    }

    .separation {
        height: 6px;
    }

    .adds {
        padding: 40px 0px;
    }

    .add1 {
        width: 85%;
    }

    .content {
        gap: 8px;
    }

    .content h1 {
        font-size: 34px;
    }

    .content h3 {
        font-size: 14px;
    }

    .add1-img img {
        width: 450px;
    }

    .add1-img video {
        position: absolute;
        top: 69px;
        right: 62px;
        width: 330px;
    }

    .add2 {
        width: 85%;
        gap: 40px;
    }

    .add2-img img {
        position: relative;
        width: 220px;
        z-index: 10;
    }

    .faq {
        width: 80%;
    }

    .faq h1 {
        font-size: 20px;
    }

    .faq-box {
        gap: 6px;
    }

    .que {
        padding: 14px;
    }

    .que h3 {
        font-size: 18px;
    }

    .que img {
        width: 26px;
        height: 26px;
    }

    footer {
        width: 80%;
        padding: 60px 0px;
        gap: 50px;
    }

    .footer-mail {
        width: 70%;
    }

    .footer2 {
        gap: 34px;
    }

    .call h5 {
        font-size: 14px;
    }

    .footer-end {
        gap: 6px;
    }

    .footer-end p {
        font-size: 12px;
    }
}

/* .demo-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffb300;
  color: #000;
  text-align: center;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.demo-banner p {
  margin: 0;
  padding: 0;
}

.demo-banner strong {
  color: #c20000;
} */