@media screen and (max-width: 575px) and (min-width: 441px) {
  body {
    padding-top: 56px;
  }
  .main {
    margin-top: 0;
  }

  .main {
    height: 85vh !important;
  }

  .box {
    height: 85vh;
  }

  nav {
    width: 90vw;
    height: 40px;
  }

  nav img {
    width: 100px;
  }

  .btn-eng {
    display: none;
  }

  .btn-eng-small {
    background-color: rgba(10, 9, 9, 0.785);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.387);
  }

  .btn-si {
    font-size: 13px;
    padding: 5px 15px 5px 15px;
  }

  .heading {
    margin: 0px 0px 0px 0px;
    height: calc(85vh - 40px);
  }

  .heading-big {
    display: none;
  }

  .heading-small {
    font-size: 30px;
    font-weight: 700;
    width: 80vw;
    margin: 0px;
    padding: 0;
    text-align: center;
    margin: 0px 0px 5px 0px;
  }

  .heading h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
  }

  .heading p {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .details {
    flex-direction: column;
    gap: 13px;
  }

  .email {
    width: 80vw;
    padding: 12px 15px 12px 15px;
  }

  .getstarted {
    font-size: 16px;
    padding: 7px 17px 7px 17px;
  }

  .separation {
    height: 5px;
    margin: 0px;
  }

  .first {
    flex-direction: column;
    max-width: 85vw;
    height: 420px;
    gap: 0px;
  }

  .first h1 {
    font-size: 24px;
    margin: 0px 0px 5px 0px;
    text-align: center;
    z-index: 20;
  }

  .first h3 {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    margin: 0px 0px -30px 0px;
    text-align: center;
    z-index: 20;
  }

  .first-img {
    align-items: center;
    margin: 0px;
    z-index: 10;
  }

  .first img {
    width: 400px;
  }

  .first-img video {
    top: 62px;
    right: 55px;
    width: 292px;
  }

  .mobile {
    display: none;
  }

  .second {
    flex-direction: column-reverse;
    max-width: 85vw;
    height: 420px;
    gap: 0px;
  }

  .second h1 {
    font-size: 24px;
    margin: 0px 0px 5px 0px;
    text-align: center;
    z-index: 20;
  }

  .second h3 {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    margin: 0px 0px -20px 0px;
    text-align: center;
    z-index: 20;
  }

  .second-img {
    align-items: center;
    margin: 0px 0px 0px 0px;
    z-index: 10;
  }

  .second img {
    width: 200px;
  }

  .mobile {
    display: none;
  }

  .third {
    flex-direction: column;
    max-width: 85vw;
    height: 420px;
    gap: 0px;
  }

  .third h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    z-index: 20;
  }

  .third h3 {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    margin: 0px 0px -30px 0px;
    text-align: center;
    z-index: 20;
  }

  .third-img {
    align-items: center;
    margin: 0px;
    z-index: 10;
  }

  .third img {
    width: 400px;
  }

  .third-img video {
    top: 62px;
    right: 55px;
    width: 292px;
  }

  .faq {
    max-width: 85vw;
  }

  .faq h1 {
    font-size: 18px;
  }

  .que {
    width: 85vw;
    padding: 20px 20px 20px 20px;
  }

  .que h3 {
    font-size: 16px;
  }

  .que svg {
    color: white;
    width: 25px;
  }

  footer p {
    font-size: 12px;
    margin: auto;
    width: 85vw;
  }

  .footer-mail {
    flex-direction: column;
    margin: 15px 0px 0px 0px;
  }

  footer .email {
    width: 85vw;
    padding: 12px 15px 12px 15px;
  }

  footer .getstarted {
    font-size: 16px;
    padding: 7px 17px 7px 17px;
  }

  .call {
    width: 85vw;
    padding: 40px 0px 0px 0px;
  }

  .call h5 {
    font-size: 14px;
  }

  .footer-end > div {
    display: none;
  }

  .footer-end-small {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85vw;
  }

  .footer-end-small h5 {
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0px;
  }

  .footer-end-small h5:hover {
    cursor: pointer;
  }
}
