/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1199px) and (min-width: 922px) {
  .first h1 {
    font-size: 34px;
  }

  .first h3 {
    font-size: 16px;
  }

  .first img {
    width: 450px;
  }

  .first-img video {
    top: 70px;
    right: 64px;
    width: 330px;
  }

  .second h1 {
    font-size: 34px;
  }

  .second h3 {
    font-size: 16px;
  }

  .second-img {
    margin: 10px 20px 0px 40px;
  }

  .second img {
    width: 250px;
  }

  .third h1 {
    font-size: 34px;
  }

  .third h3 {
    font-size: 16px;
  }

  .third img {
    width: 450px;
  }

  .third-img video {
    top: 70px;
    right: 64px;
    width: 330px;
  }

  footer .email {
    width: 560px;
  }
}
